/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* a:hover {
  color: red;
} */

.ifmHoverOverride:hover {
  color: white;
}
